@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	background-color: #f5f5f5;
}
#outer {
	border-top: 4px solid #4C7ED1;
}
#inner {
	margin: 0 auto;
	width: 640px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
	padding-top: 20px;
}
main {
	padding: 0 20px;
}
ul {
	margin: 0 0 0 1em;
	padding: 0;
}
li {
	list-style: disc;
}
p {
	margin: 1em 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ccc;
	height: 1px;
}
a {
	font-weight: normal;
}
h1 {
	padding: 20px;
	margin: 0;
	color: #e50012;
	font-size: 24px;
}
h1 a {
	font-weight: bold;
	color: #8c0000;
	text-decoration: underline;
}
h2 {
	font-size: 24px;
	color: #4c7ed1;
	font-weight: bold;
	margin: 0;
	padding: 3px 0 2px 0;
	border-bottom: 1px solid #999999;
}
aside {
	padding: 15px 25px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
.title {
	padding: 5px 12px;
	border-bottom: 2px solid #ccc;
	font-weight: bold;
	color: #333;
	background-color: #f9edbe;
	font-size: 18px;
	margin-bottom: 10px;
}
aside ul {
	margin: 7px 10px 14px 10px;
	padding: 0;
	list-style: none;
}
aside ul li {
	list-style: none;
	padding: 5px 0;
}
aside a {
	color: #3b5998;
	text-decoration: none;
}
aside a:hover {
	color: #0000ee;
	text-decoration: underline;
}
footer {
	font-size: 15px;
	height: 100px;
	text-align: center;
	background-color: #fff;
	color: #444;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-top: 20px;
}
#pagetop {
	text-align: right;
}
@media screen and (max-width: 767px) {
#inner {
	width: 100%;
}
aside {
	padding: 15px 20px;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
}
